/* Style Top Categories */
.category {
  text-align: left;
  margin-bottom: 30px;
}
.category-heading {
    margin-bottom: 30px;
    font-size: 40px;
    color: #092746;
    font-weight: bold;
}
.category-title {
  color: white;
  font-weight: 700;
  font-size: 14px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* Slow-motion Zoom Container */
.img-hover {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 auto;
}
.img-hover img {
  filter: brightness(70%);
  width: 100%;
  transition: 3s all ease-in-out;
}

/* The Transformation */
.img-hover:hover img {
  transform: scale(1.2);
}
