/* Style css for Banner section Design */
.banner{
    background-image: url("../../Images/header.jpg");
    background-size: 60%;
    background-position: right top;
    background-repeat: no-repeat;
    height: 500px;
    text-align: left;
}

.banner-title {
    margin-top: 40px;
    font-size: 70px;
    font-weight: 800;
}

.banner-text {
    margin-top: 20px;
    font-size: 23px;
    color: rgb(58, 58, 58) ;
}

.btn-regular {
    margin-top: 40px;
    padding: 7px 10px;
    font-size: 22px;
    font-weight: 500;
}